@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../node_modules/toastify-js/src/toastify.css";

/* This file is for your main application CSS */
/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
}

/* Override the container displays to both be shown on larger screens */
@media (min-width: 1024px) {
  #upload_container, #search_container {
    display: block !important; /* Override any inline styles */
  }
}